* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
 font-size: 62.5%; //1rem = 10px
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(to bottom right,var(--light-classy-grey),var(--blue-beans));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

:root{
--deep-red: rgb(99, 70, 48);
--lighter-red: rgb(131, 94, 67);;
--blue-beans: #7acfd6 ;

--light-classy-grey: #f1f0ee ;
}

// Deep Red: #b11a21
// Lighter Red: #e0474c
// Blue Beans: #7acfd6 

// Light Classy Grey: #f1f0ee 