.header {
  border-bottom: 5px solid rgb(211, 184, 184);
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10%, -45%);
  }
  text-align: end;
  background-image: url("../img/picture3.png");
  height: 135vh;
  background-position: top;
  background-size: cover;
  background-repeat: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;

  position: relative;

  &__primary--color {
    background-image: linear-gradient(
      to right bottom,
      var(--lighter-red),
      var(--deep-red)
    );
    -webkit-background-clip: text;
    color: transparent;
  }
  &__light {
    background-image: linear-gradient(
      to right bottom,
      rgb(245, 242, 242),
     skyblue
    );
    -webkit-background-clip: text;
    color: transparent;
  }
  &__primary {
    font-size: 4.5rem;
    font-weight: 400;
    font-family: 'Marck Script', cursive;
    &--bold {
      font-family: 'Permanent Marker', cursive;
      font-weight: 700;
      font-size: 5rem;
    }
  }

  &__third {
    font-size: 2.5rem;
    font-family: 'Marck Script', cursive;
  }

  &__fourth {
    font-size: 1.5rem;
  }

  &__list {
    text-align: center;
    font-size: 1.2rem;
  }
  &__input {
    margin: 0.5rem;
    border: none;
    padding: 0.5rem 1.5rem;
  }
}

.btn {
  cursor: pointer;
  border: none;
  padding: 2rem;
  border-radius: 10px;
  background-image: linear-gradient(
    to right bottom,
    #F19B34,
    var(--light-classy-grey)
  );
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  transition: all 2s ease-in-out;
  &:hover {
    color: white;
    background-image: linear-gradient(
      to right bottom,
      #F19B34,
      rgb(177, 114, 37)
    );
  }
}
.bold {
  font-weight: 700;
}

.bio-Img {
  width: 25%;
}

.skinny-h2 {
  font-weight: 300;
  font-size: 1.2rem;
  color: var(--lighter-red);
}
.uppercase {
  text-transform: uppercase;
}

.checkMark {
  background-color: var(--blue-beans);
  color: white;
  padding: 0.5rem;
  border-radius: 5rem;
  margin-right: 1rem;
}

.u-margin-bottom {
  margin-bottom: 4rem;
}
.enableBlur > * {
  filter: blur(4px);
}
.unblur {
  filter: blur(0) !important;
  -webkit-filter: blur(0) !important;
}


.border{display: flex; justify-content: space-evenly;padding: 2rem;background-image: linear-gradient(to right,rgb(245, 219, 224),pink);  background-position: top;
  background-size: cover;
  background-repeat: none;}


  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(234, 178, 137);
    color:white !important;padding:2rem;
  }