.main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: linear-gradient(to right,rgba(255, 255, 255, 0.767), rgba(237, 215, 196, 0.63)),url("../img/paint.jpg");
  height: auto;
  background-position:top;
  background-size: cover;
  background-repeat: none;
  text-align: start;
  border-bottom: 5px solid rgb(211, 184, 184);
padding: 4rem;
  &__listCheck{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
}


.rose{  opacity: .8;
  background-image: linear-gradient(to right bottom,#eee8e8a1,#ca9d9d88), url("../img/roses5.jpg");
  height: auto;
  background-position: top;
  background-size: cover;
  background-repeat: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
filter: brightness(120%);
  position: relative;
  &__paragraph{
    opacity: 1;
    color: #1e1e1e;
    font-weight: 700;
    font-size: 1.5rem; margin-bottom: 4rem; width: 50%;
    &--light{font-weight: 400;}
  }
}
